/** {
	border: 1px dashed black;
}*/

.FunctionEditor {
	flex: 0;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
	border-radius: 1em;
	font-size: 0.7em;
	font-weight: bold;
	margin: 0.5em;
	height: auto;
}

.FunctionEditor .ViewPort {
	border: none;
	box-shadow: 5px black;
	border-radius: 1em;
	display: block;
	width: fit-content;
	height: fit-content;
	margin: 1em;
}

.Label {
	margin-bottom: 0;
	font-size: 0.7rem;
}

.FunctionEditor .Params {
	display: block;
	padding: 1em 0;
	overflow-y: auto;
}
.FunctionEditor .Param {
	display: block;
}
.FunctionEditor .Param input {
	width: 3em;
}
.FunctionSelect {
	    color: #ec5;
    background-color: #477;
	    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none; 
    border: 1px solid #ec5;
    /* needed for Firefox: */
    overflow:hidden;
/*    width: 120%;*/
}