
#root {
  width:100%;
  margin: 0 auto;
  text-align: center;
}

/*header, footer{
  position: fixed;
  height: 5vh;
  width:100%;
  border: 1px solid orange;
  background-color: orange;
}

footer {
  bottom: 0;
  text-align: center;
}*/