* {
	border: 1px dashed black;
}
.CompositionChain {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
}

.AddFunctionButton {
	display: flex;
	align-content: center;
	justify-content: center;
	flex-basis: auto;
	font-size: 3rem;
	width: 1.2em;
	height: 1.2em;
	border-radius: 25%;
	padding: 0;
	border: 3px double black;
	margin: auto 2%;
}

.CompositionChain > .ViewPort {
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0.75;
}