* {
	border: 1px dashed black;
}
.CompositionChain {
	display: flex;
	flex-direction: row;
	flex-flow: wrap;
	align-items: center;
}

.AddFunction {
	display: inline-block;
	font-size: 3rem;
	width: 1rem;
	border-radius: 0.5em;
	border: 3px double black;
	margin: 1rem;
}