/** {
	border: 1px dashed black;
}*/

.FunctionEditor {
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
  align-items: center;
	border: 3px double black;
	font-size: 0.7em;
	font-weight: bold;
/*	width: 12em;*/
}

.FunctionEditor .ViewPort {
		display: block;
		width: fit-content;
		height: fit-content;
		margin: 1em;
}

.Label {
	margin-bottom: 0;
	font-size: 0.7rem;
}

.FunctionEditor .Params {
		display: block;
		padding: 1em 0;
		overflow-y: auto;
}
.FunctionEditor .Param {
		display: block;
}
.FunctionEditor .Param input {
		width: 3em;
}